.btn {
  color: $white;
  border-radius: 10rem;
  padding: .7rem 2rem;
  &:hover {
    color:$white;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba($black, .15);
    transform: translateY(-2px);
  }
}

.btn--black{
 background-color: $black;
}

.btn--green{
  background-color: $green;
}


.btn--blue{
  background-color: $blue;
}


//ADJUSTS THE BLACK BUTTON ON PHONE SCREEN
@media (max-width: 600px) {
  .btn--black {
    margin: 0 0 20px 13px;
  }
}
